<form novalidate [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

  <div formGroupName="userData">
    <div class="row">

      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-12">
        <label class="pull-left control-label" for="name">Name</label>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="input input-sm" type="text" name="name" placeholder="Name" formControlName="name">
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <span *ngIf="!signUpForm.get('userData.name').valid && signUpForm.get('userData.name').touched">Enter valid user name</span>
      </div>

    </div>
    <br/>
    <div class="row">

      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-12">
        <label class="pull-left control-label" for="email">Email ID</label>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input class="input input-sm" type="text" type="email" name="email" placeholder="Email ID"
          formControlName="email">
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <span *ngIf="!signUpForm.get('userData.email').valid && signUpForm.get('userData.email').touched">Enter valid email</span>
      </div>

    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-12">
      <label class="pull-left control-label" for="gender">Gender</label>
    </div>
    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-6" *ngFor="let gender of genders">
      <label class="control-label">
        <input type="radio" formControlName="gender" [value]="gender" name="gender"> {{gender}}
      </label>
    </div>
  </div>
  <br/>
  <div formArrayName="hobbies">
    <div class="row">
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-12">
        <label class="pull-left control-label" for="hobbies">Your Hobbies</label>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <button class="btn btn-sm btn-default" type="button" (click)="onAddHobby()">Add Hobby</button>
      </div>
    </div>
    <br/>
    <div class="row" *ngFor="let hobbyControl of hobbyControls; let i = index">
      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1">

      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <input type="text" [formControlName]="i" class="input input-sm" name="hobby">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="pull-left col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <button type="submit" class="btn btn-default" [disabled]="!signUpForm.valid">Submit</button>
    </div>
  </div>
</form>
<br/>
<div class="row" [hidden]="!isSubmitted">
  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-2">

  </div>
  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <pre>
              Your information
              Username : {{signUpForm.get('userData.name').value}}
              Email    : {{signUpForm.get('userData.email').value}}
              Gender   : {{signUpForm.get('gender').value}}
              Hobbies  : {{signUpForm.get('hobbies').value}}
            </pre> </div>
</div>