<div class="container-fluid">
  <br/><br/>
  <div class="panel panel-info">
    <div class="panel-heading">App Component</div>
    <div class="panel-body row">
      <div class="container col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
          <label class="pull-left control-label col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12" for="route">dynamic-route fragment value</label>
          <input class="input input-sm col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-12" name="route" [(ngModel)]="route" type="text">
        </div>

        <br/>
        <br/>
        <nav class="navbar row">
          <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav nav-tabs">
                <li routerLink="/template-driven-form" routerLinkActive="active"><a title='template-driven-form'>template-driven-form</a></li>
                <li routerLink="/reactive-form" routerLinkActive="active"><a title='reactive-form and validations'>reactive-form</a> </li>
                <li routerLink="/dynamic-route/{{route}}" routerLinkActive="active"><a title='dynamic parent and dynamic child route with guards, demo of canActivate and resolve methods'>dynamic-route</a> </li>
                <li routerLink="/life-cycle-hooks" routerLinkActive="active"><a title='life-cycle-hooks with ngOnChanges - SimpleChange demo on console'>life-cycle-hooks</a></li>
                <li routerLink="/parent-child" routerLinkActive="active"> <a title='Demo of data sharing between parent and child component'>parent <i class="glyphicon glyphicon-resize-horizontal"></i> child</a></li>
                <li routerLink="/pipe-directives" routerLinkActive="active"> <a title='custom pipes, ngFor, custom behavious and structural directives'>pipe-directives</a></li>
                <li routerLink="/any-path" routerLinkActive="active"> <a title='demo of redirecting to another template'>redirect-to</a></li>
                <li routerLink="/lazy" routerLinkActive="active"><a title='Lazy loading , with preLoading Strategy'> Lazy Load</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="row">
          <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 container-fluid">
            <div class="row">
              <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 container-fluid">
                <div class="panel panel-info">
                  <div class="panel-heading">Router Outlet</div>
                  <div class="panel-body conatiner">
                    <router-outlet></router-outlet>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>